.logoPos {
    position: absolute;
    width:  auto;
    z-index: 5;
    top: 10px;
    left: 5px;
}

aside {
    padding: 10px;
}

aside img.social {
    width: 40px;
}

aside img.google {
    height: 30px;
    margin: 5px 0;
    display: block;
}

aside h3 {
    font-size: 1.45em;
    line-height: .5em;
}

aside h1 {
    font-size: 1.9em;
    line-height: 1em;
}

.initals {
    position: absolute;
    z-index: 5;
    width: auto;
    top: 8px;
    right: 0;
    display: none;
}

@media only screen and (max-width: 900px) {
    .logoPos {
        top: 5px;
        left: 0;
    }
    aside h1, 
    aside h3, 
    aside img.google {
        display:none;
    }
    aside {
        padding: 0;
    }
    aside img.social {
        width: 40px;
        margin-left: 5px;
        margin-top: 5px;
    }
    .initals {
        right: 10px;
        display: block;
    }
}