nav {
    color: white;
    background-color: rgba(26, 26, 26, 0.5);
    -webkit-backdrop-filter: blur(3px);
	  backdrop-filter: blur(3px);
}

.logo {
    width: 125px;
    padding: 10px 0;
}

nav-h {
    height: 100px;
    position: relative;
}

.playText h4 {
    font-size: 1em;
    text-align: left;
}